div#editor-telegram {
  .end,
  .stop {
    margin: 0 3px;
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
  }

  .stop {
    background-color: rgba(110, 150, 208, 0.71);
  }

  .end {
    background-color: rgba(229, 60, 161, 0.41);
  }
}
