#editor-autocomplete {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;

  .autocomplete-root {
    position: relative;
    border: 3px solid red;
  }

  .autocomplete-box {
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
  }

  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }

  .suggestion-item.active {
    background-color: #007bff;
    color: white;
  }

  span.temporary {
    border-radius: 3px;
    padding: 3px;
    color: grey;
    font-style: italic;
  }

  span.mention,
  span.hashtag {
    padding: 3px;
    color: white;
    border-radius: 5px;
    margin: 0 2px;
  }
  span.mention {
    background-color: rgba(111, 168, 221, 0.78);
  }
  span.hashtag {
    background-color: rgba(166, 221, 111, 0.78);
  }
}
